table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid #ddd;
}
tr:hover{
    background-color: #f5f5f5;
}
th{
    background-color: #0d6efd;
    color: white;
}
.container{
    margin-top: 50px;
}
h2{
    margin-bottom: 20px;
}
button{
    margin-top: 20px;
}
button a{
    text-decoration: none;
    color: white;
}